<template>
  <div class="container-fluid">
    <!-- Inicio imagem --- Image start -->

    <div class="text-center">
      <img src="../assets/logo.png" class="img-fluid" alt="Responsive image" />
    </div>

    <!-- Fim da Imagem --- Image end -->

    <!-- Inicio descrição da tabela --- Home description of the table Start -->
    <div class="text-center">
      <h1>Acompanhamento de Vendas</h1>
    </div>

    <!-- Fim descrição da tabela --- Home description of the table End -->

    <!-- Inicio da tabela --- Table start -->

    <table class="table table-striped text-center">
      <thead class="table-dark">
        <tr>
          <th scope="col">29/01/2020</th>
          <th scope="col">Venda (R$)</th>
          <th scope="col">Meta (R$)</th>
          <th scope="col">Atingimento da meta (%)</th>
          <th scope="col">Quantidade de produtos/cliente</th>
          <th scope="col">Tiket médio/cliente</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-primary">Arpoador</th>
          <td>{{ vendaArpoador }}</td>
          <td>{{metaArpoador}}</td>
          <td>{{ atMetaArpoador }}</td>
          <td>{{ qtProdutoArpoador }}</td>
          <td>{{ tiketMedioArpoador }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-primary">Leblon</th>
          <td>{{ vendaLeblon }}</td>
          <td>{{ metaLeblon }}</td>
          <td>{{ atMetaLeblon }}</td>
          <td>{{ qtProdutoLeblon }}</td>
          <td>{{ tiketMedioLeblon }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-primary">Barra</th>
          <td>{{ vendaBarra }}</td>
          <td>{{ metaBarra }}</td>
          <td>{{ atMetaBarra }}</td>
          <td>{{ qtProdutoBarra }}</td>
          <td>{{ tiketMedioBarra }}</td>
        </tr>
        <tr class="table-secondary">
          <th scope="row" class="text-primary">Total</th>
          <td>{{ vendaTotal }}</td>
          <td>{{ metaTotal }}</td>
          <td>{{ atMetaTotal }}</td>
          <td>{{ qtProdutoTotal }}</td>
          <td>{{ tiketMedioTotal }}</td>
        </tr>
      </tbody>
    </table>

    <!-- Fim da tabela --- Table end -->
  </div>
</template>


<script>
export default {
  name: "Aplication",

  

  data() {
    return {
      vendaArpoador: 3515.01,
      vendaLeblon: 2009.99,
      vendaBarra: 1158.05,
      vendaTotal: 6683.05,
      
      metaArpoador: 7889.89,
      metaLeblon: 4596.14,
      metaBarra: 5719.03,
      metaTotal: 18205.06,
      
      atMetaArpoador: 44.55,
      atMetaLeblon: 43.73,
      atMetaBarra: 20.25,
      atMetaTotal: 36.17,
      
      qtProdutoArpoador: 3.32,
      qtProdutoLeblon: 3.31,
      qtProdutoBarra: 0,
      qtProdutoTotal: 3.31,
      
      tiketMedioArpoador: 140.6,
      tiketMedioLeblon: 19.9,
      tiketMedioBarra: 0,
      tiketMedioTotal: 80.25,

    }
  },
 

};



</script>

<style >
img {
  width: 30%;
}

@font-face {
  font-family: ttburger;
  src: url(../assets/BrothersRegular.otf);
}

h1 {
  font-family: ttburger;
}
</style>