<template>
  <div>
    <div>
      <b-navbar toggleable="lg" type="dark" variant="info" class="navbar navbar-dark bg-dark">
        <h6><b-navbar-brand href="#">T.T. Burger</b-navbar-brand></h6> 

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item href="#">Inicio</b-nav-item>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-form>
              <b-nav-item href="#">Logout</b-nav-item>
            </b-nav-form>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style >

@font-face {
  font-family: ttburger;
  src: url(../assets/BrothersRegular.otf);
}

h6 {
  font-family: ttburger;
}
</style>