<template>
  <div id="app">
    <Header/>
    <Aplication />
    
    
  </div>
</template>

<script>
import Aplication from './components/aplication.vue'
import Header from './components/header.vue'






export default {
  name: 'App',
  components: {
    Aplication,
    Header
  
  }
}


</script>

<style>

</style>
